@font-face {
    font-family: 'Marvin';
    src: url('Marvin.woff2') format('woff2'),
        url('Marvin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

