html{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(155, 118, 101);
    
    /*Запрещаем выделять текст*/
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;    
}
nav{
    position: fixed;
    width: 100%;
    height: 60px;
    background: #344051;
}
.logo{
    color: aliceblue;
    font-size: 28px;
    line-height: 60px;
    padding-left: 190px;
    float: left; /*Выравнивание по левой стороне*/
}
.menu{
    float: left; /*Выравнивание по левой стороне*/
    padding-left: 280px;
}
.menu li{
    float:left;
    line-height: 60px;
    color: aliceblue;
    margin-right: 30px;
    font-size: 17px;
    text-transform: uppercase; /* Текст большими буквами*/
}
.menu a{
    color: aliceblue;
}
.logo a{
    color: aliceblue;
}

.main{
    height: 700px;
    background: url(../img/main_fons.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 50px;
    box-shadow:#344051;   
}
.title__container {
    font-size: 60px;
    color: rgb(61, 44, 44);
    margin-left: 300px;
    padding-top: 200px;
}
.title__container input{
font-size: 15px;
border-radius: 60px;
height: 40px;
width: 200px;
text-align: center;
color: rgb(199, 176, 176);
background-color: rgb(61, 44, 44);
}

.about_me{
    background: url(../img/body_fons.jpg);
    background-size: cover;
    border-radius: 50px;
    height: 400px;
    margin-top: 10px;    
}
.logo_about_me h2{
    text-align: center;
    font-size: 28px;
    padding-top: 15px;
    color: rgb(61, 44, 44);
}

.logo_about_me img{
    float: left;
    display: block;
    margin-top: 15px;
    margin-left: 80px;
    margin-right: auto;
    height: 250px;
    border-radius: 150px;
}

.logo_about_me p{
    color: rgb(61, 44, 44);
    font-size: 25px;
    padding: 20px;
    padding-left: 300px;
    text-align: justify;
}

.logo_about_me input{
    font-size: 15px;
    border-radius: 60px;
    height: 40px;
    width: 200px;
    text-align: center;
    color: rgb(199, 176, 176);
    background-color: rgb(61, 44, 44);
    float: left;
}

.my_skill{
    background: url(../img/body_fons.jpg);
    background-size: cover;
    border-radius: 50px;
    height: 400px;
    margin-top: 10px;
    
}
.logo_my_skill{
    text-align: center;
    font-size: 28px;
    padding-top: 15px;
    color: rgb(61, 44, 44);
    
}
.colonka{
    columns: 90px 4;
    margin: 40px;
    font-size: 20px;
}
.colonka h4{
    font-size: 25px;
    text-align: center;
    margin: 10px;
}

.colonka p {
    text-align: justify;
    padding-top: 30px;
}
.colonka img{
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.boxsing{
    background: url(../img/body_fons.jpg);
    background-size: cover;
    border-radius: 50px;
    height: 430px;
    margin-top: 10px;
    margin-top: 10px;
}
.logo_box{
    text-align: center;
    font-size: 28px;
    padding-top: 15px;
    color: rgb(61, 44, 44);
    
}
.box img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    height: 290px;
}

.cost_calculation{
    background: url(../img/body_fons.jpg);
    background-size: cover;
    border-radius: 50px;
    height: 400px;
    margin-top: 10px;
    
}
.logo_cost_calculation{
    text-align: center;
    font-size: 28px;
    padding-top: 15px;
    color: rgb(61, 44, 44);
}
.cost_calculation select{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.statistics{
    background: url(../img/body_fons.jpg);
    background-size: cover;
    border-radius: 50px;
    height: 430px;
    margin-top: 10px;
    margin-top: 10px;
}
.logo_statistics{
    text-align: center;
    font-size: 28px;
    padding-top: 15px;
    color: rgb(61, 44, 44);
}

.colonka_statistics{
    columns: 90px 4;
    margin: 40px;
    font-size: 20px;
}
.colonka_statistics h2{
    font-size: 25px;
    text-align: center;
    margin: 10px;
}

.colonka_statistics p{
    text-align: justify;
    padding-top: 15px;
}
.reviews{
    background: url(../img/body_fons.jpg);
    background-size: cover;
    border-radius: 50px;
    height: 430px;
    margin-top: 10px;
    margin-top: 10px;
}
.logo_reviews{
    text-align: center;
    font-size: 28px;
    padding-top: 15px;
    color: rgb(61, 44, 44);
}
.reviews_user img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    height: 290px;
}
.reviews p{
    text-align: center;
    margin-top: 20px;
}
footer{
    width: 100%;
    height: 301px;
    background: #344051;
    margin-top: 10px;
}
footer p {
color:aliceblue;
font-size: 20px;
text-align:center;
padding-top: 32px;
}
footer h2{
    text-align: center;
    font-size: 28px;
    padding-top: 15px;
    color: aliceblue;
}
.colonka_my_contact{
    padding-top: 40px;
    columns: 90px 4;
    margin: 40px;
    font-size: 20px;
    
}
.my_contact_icon img{
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.my_contact_icon a{
    display: block;
}