@font-face {
    font-family:'Marvin';
    src: url('/fonts/Marvin.woff2') format('woff2'),
        url('/fonts/Marvin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
html{
    background-color: rgb(155, 118, 101);
    /*Запрещаем выделять текст*/
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
body{
	background-color: rgb(155, 118, 101);
}
/*header,Шапка,Меню*/
nav{
	position: fixed;
	width: 100%;
	height: 80px;
	background: #344051;

}

.logo a{
float: left; /*Выравнивание по левой стороне*/
text-decoration: none;
line-height: 80px;
color: aliceblue;
font-size: 25px;

}

.menu a{
	text-decoration: none;
	line-height: 60px;
	float: left; /*Выравнивание по левой стороне*/
	color: aliceblue;
	font-size: 15px;
	margin-left: 30px;
	text-transform: uppercase; /* Текст большими буквами*/
}

.text_bt_color{
	color: aliceblue;
	background-color: rgba(87, 67, 105, 0.842);
	font-size: 20px;
}
.colors{
	text-align: center;
	background-color: rgba(87, 67, 105, 0.842);
}
.colors a{
color: aliceblue;
font-size: 20px;
}
/*header,Шапка,Меню*/

/*Привет я Максим Мазурин,main,title__container*/
.main{
    background: url(../img/main_fons.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 50px;
    box-shadow:#344051; 
	height: 700px;  
}
.title__container {
    color:rgb(61, 44, 44);
	width: 100%;
}
.title__container input{
font-size: 15px;
border-radius: 60px;
height: 40px;
width: 200px;
text-align: center;
color: rgb(199, 176, 176);
background-color: rgb(61, 44, 44);
text-transform: uppercase; /* Текст большими буквами*/
}
.title__container h1{
	font-size: 45px;		
}
.title__container h4{
	font-size: 25px;
}
 @media(max-width:450px){

	.title__container{
text-align: center;		
	}
	.title__container h1{
		font-size: 45px;		
	}
	.title__container h4{
		font-size: 25px;
	}
	.title__container input{
		margin-top: 10px;
	}
 }
/*Привет я Максим Мазурин,main,title__container*/

/*Обо мне,logo_about_me*/
.about_me{
    background: url(../img/body_fons.jpg);
    background-size: cover;
    border-radius: 50px;
    height: 700px;
    margin-top: 10px;    
}
.logo_about_me h2{
    text-align: center;
    font-size: 45px;
    padding-top: 15px;
    color: rgb(61, 44, 44);
}

.ava_summary img{
    float: left;
    height: 250px;
    border-radius: 160px;
	margin-right: 10px;
}
.about_me p{
    color: rgb(61, 44, 44);
    font-size: 25px;
}
@media(max-width:1199px){
.about_me p{
    float: left;
}
}
.sumbit_about_me input{
    color: rgb(199, 176, 176);
    background-color: rgb(61, 44, 44);
    font-size: 15px;
    border-radius: 60px;
    height: 40px;
    width: 200px;
}
/*Обо мне,logo_about_me*/